extends layout

block content

  if(error)
    div
      p #{error}

  if(noPosts)
    div.no-posts
      if(currentUser)
        p No Posts - Be the first!
      else 
        p No Posts - Register or log in and be the first!
  .posts 
    if(currentUser)
      a(href="/post")
        button New post
      if(currentUser)
    each post in posts
      if(currentUser)
        div.posts__post
          div.posts__post__head
            p.posts__post__head__user #{post.username}
            div.posts__post__head__date
              p #{post.formatted_date}
              p #{post.formatted_time}
          p.posts__post__body #{post.body}
      else 
        div.posts__post
          div.posts__post__head
          p.posts__post__body #{post.body}
  if(message)        
    .message 
      p #{message}

